
<router-outlet></router-outlet>

<div style="margin-top:300px">App Default Component starts </div>


<h4>Menus</h4>
<nav>
  <a routerLink="/pipe" routerLinkActive="active" ariaCurrentWhenActive="page">Pipe</a> <br>
  <a routerLink="/simpletask" routerLinkActive="active" ariaCurrentWhenActive="page">Simple task</a>
</nav>


<app-module1></app-module1>

<div>
  <app-module2component></app-module2component> from App Component.
</div>


<h1 #heading>Hello World Angular !!! </h1>
<app-test #appTest></app-test>
<app-template-reference></app-template-reference>

<input #input type="text" name="" id="">
<button (click)="showTRV(heading, appTest)">Click Me</button>


<h2>Input Output Component</h2>
<app-input-output [inputtext] = "childtext" (SomethingChanged)="consoleData($event)"></app-input-output>
<input type="text" [(ngModel)]="childtext" name="" id="">

